<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->
    <div class="container text-center mt-3">
        <h2 class="text-danger">Contact Us</h2>
    </div>
    <div class="container main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 col-12 main_header_left">
                        <form action="" method="post">
                            <label for="name" class="mb-1">Name: </label>
                            <input name="Name" id="name" type="name" class="form-control mb-3" style="width: 300px;" placeholder="Write your name" required>
                            <label for="email" class="mb-1">Email:</label>
                            <input name="Email" id="email" type="email" class="form-control mb-3" style="width: 300px;" placeholder="Write your email" required>
                            <label for="email" class="mb-1">Message:</label>
                            <textarea name="text-area" id="" cols="30" rows="5" class="form-control mb-3" style="width: 300px;" placeholder="Write your message" required></textarea>
                            <p class="text-secondary">We don't share your information with anyone else.</p>
                            <button type="submit" class="btn btn-danger" >Submit</button>
                        </form>
                    </div>
                    <div class="col-md-8 col-12 main_header_right">
                        <img src="images/contact.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Footer -->
    {{>footer}}
    
</body>
</html>