<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->
    <div class="container text-center mt-3">
        <h2 class="text-danger">Contact Us</h2>
    </div>
    <div class="container main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 col-12 main_header_left">
                        <h3>Contact with us via <span>Email</span>:</h3>
                        <p class="text-danger" style="font-size: 25px;">dipkorimon@gmail.com</p>
                        <h3><span>Or,</span></h3>
                        <div class="sci">
                            <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 main_header_right">
                        <img src="images/contact.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
    
</body>
</html>