<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->

    <form action="" class="container d-flex" role="search">
        <input type="search" class="form-control me-2" id="city" placeholder="Search">
        <button class="btn btn-warning" type="submit" id="submit">Search</button>
    </form>

    <h1>Weather for <span id="cityName"></span></h1>

    <div class="container d-flex mt-5">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Temperatures</h5>
                <ul>
                    <li>Cloud PCT is <span id="cloud_pct"></span></li>
                    <li>Temperature is <span id="temp"></span></li>
                    <li>Min Temperature is <span id="min_temp"></span></li>
                    <li>Max Temperature is <span id="max_temp"></span></li>
                    <li>Feels Like <span id="feels_like"></span></li>
                    <li>Humidity is <span id="humidity"></span></li>
                    <li>Wind speed is <span id="wind_speed"></span></li>
                    <li>Wind degree is <span id="wind_degrees"></span></li>
                    <li>Sunrise<span id="sunrise"></span></li>
                    <li>Sunset <span id="sunset"></span></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
    <script src="js/currentWeatherData.js"></script>
</body>
</html>