<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <div id="about_card" class="mt-3">
                            <div class="container">
                                <div class="card">
                                    <div class="content">
                                        <div class="imgBx">
                                            <img src="images/dip.jpg" alt="">
                                        </div>
                                        <div class="contentBx">
                                            <h4>Dip Kor Imon</h4>
                                            <h5>Competitive Programmer & Full Stack Developer</h5>
                                        </div>
                                        <div class="sci">
                                            <a href="https://www.facebook.com/dipkorimon/"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                                            <a href="https://www.linkedin.com/in/dipkorimon/"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                                            <a href="https://github.com/dipkorimon"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>       
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <h4><i class="fa-solid fa-school text-danger" style="margin-right: 10px;"></i>From Noakhali Science and Technology University.</h4>
                        <h5><i class="fa-solid fa-graduation-cap text-danger" style="margin-right: 10px;"></i>Bachelor of Science in Computer Science and Telecommunication Engineering.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    {{>footer}}
    
</body>
</html>