<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <h2>Welcome to <span class="text-danger" style="font-size: 45px;">Rapid Weather</span>.</h2>
                        <p style="font-size: 20px;">Get the latest weather data for any region in the world.</p>
                        <a href="weather"><button class="btn btn-warning">Check Here</button></a><br>
                        <p style="font-size: 20px;">"Climate change is sometimes misunderstood as being about changes in the weather. In reality it is about changes in our very way of life."</p>
                        <h4 class="text-danger"><i class="fa-solid fa-pen-nib text-dark" style="margin-right: 10px;"></i>Paul Polman</h4>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <div class="top_layer d-flex align-items-center justify-content-center">
                            <img src="images/weather.jpg" alt="" style="height: 350px; width: 550px; border-radius: 20px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <p id="date" class="text-danger">WED | OCT 13 | 10:49AM</p>
    </div>
    <hr>
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-7 col-12 main_header_left">
                        <iframe width="550" height="350" style="border-radius: 20px;" src="https://embed.windy.com/embed2.html?lat=24.127&lon=90.308&detailLat=23.996&detailLon=90.330&width=650&height=450&zoom=7&level=surface&overlay=temp&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
                    </div>
                    <div class="col-md-5 col-12 main_header_right">
                        <h3 class="text-dark"><i class="fa-sharp fa-solid fa-address-card text-danger" style="margin-right: 10px;"></i>About Rapid Weather</h3>
                        <ul>
                            <li>Weather forecasts and nowcasts in fast and elegant way.</li>
                            <li>Short-range forecasts to set up severe weather alerts for efficient route planning and minimizing risks of loss (delay/cargo damage).</li>
                            <li>Fast and convenient monitoring of current weather and damaging weather conditions (frost, thunderstorm, etc.) at fields for farmers to minimize risks of loss and more efficient farming.</li>
                            <li>Accurate, data-driven prediction of energy supply and demand. Trading advice, based on insights from forecasted weather data.</li>
                            <li>You can search with your city and see weather update of your city.</li>
                            <li>We collect and process weather data from <a href="https://openweathermap.org/" class="text-danger" style="text-decoration: none; font-weight: bold;">OpenWeather</a>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    {{!-- Developer --}}
    <div class="container text-center mb-3">
        <h3 class="text-dark"><i class="fa-solid fa-person text-danger" style="margin-right: 10px;"></i>Developer Information</h3>
    </div>
    <div id="about_card">
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/dip.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Dip Kor Imon</h4>
                        <h5>Full Stack Developer</h5>
                    </div>
                    <div class="sci">
                        <a href="https://www.facebook.com/dipkorimon/"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/dipkorimon/"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://github.com/dipkorimon"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>   

            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/alamin.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Al-Amin</h4>
                        <h5>Web Developer</h5>
                    </div>
                    <div class="sci">
                        <a href="https://www.facebook.com/mihonmdalamin.alamin"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    
    
    <!-- Footer -->
    {{>footer}}

    <script>
        const curDate = document.getElementById('date');
        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            let currentTime = new Date();
            let day = weekday[currentTime.getDay()];
            return day;
        };

        const getCurrentTime = () => {
            let months = [
                "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
            ];
            let now = new Date();
            let month = months[now.getMonth()];
            let date = now.getDate();
            let hours = now.getHours();
            let mins = now.getMinutes();
            let year = now.getFullYear();
            let period = "AM";
            if (hours > 11) {
                period = "PM";
                if (hours > 12) {
                    hours -= 12; 
                }
            }
            if (mins < 10) {
                mins = "0" + mins;
            }
            return `${month} ${date} | ${year} | ${hours}:${mins} ${period}`;
        };
        curDate.innerHTML = getCurrentDay() + " | " + getCurrentTime();
    </script>
    
</body>
</html>