<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <h2>Welcome to Rapid Weather.</h2>
                        <h3>Find weather information of your city.</h3>
                        <a href="weather"><button class="btn btn-primary">Check Here</button></a><br>
                        <p style="font-size: 20px;">"Climate change is sometimes misunderstood as being about changes in the weather. In reality it is about changes in our very way of life."</p>
                        <h4 class="text-primary">Paul Polman</h4>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <img src="images/weather.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <h3 class="text-primary"><i class="fa-sharp fa-solid fa-address-card" style="margin-right: 10px;"></i>About this website</h3>
                        <ul>
                            <li>Weather forecasts and nowcasts in fast and elegant way</li>
                            <li>Short-range forecasts to set up severe weather alerts for efficient route planning and minimizing risks of loss (delay/cargo damage).</li>
                            <li>Fast and convenient monitoring of current weather and damaging weather conditions (frost, thunderstorm, etc.) at fields for farmers to minimize risks of loss and more efficient farming.</li>
                            <li>Accurate, data-driven prediction of energy supply and demand. Trading advice, based on insights from forecasted weather data.</li>
                            <li>You can search with your city and see weather update of your city.</li>
                            <li>We collect and process weather data from <a href="https://openweathermap.org/" style="text-decoration: none; font-weight: bold;">OpenWeather</a></li>
                        </ul>
                        
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p style="font-size: 18px;">Weather is the state of the atmosphere, describing for example the degree to which it is hot or cold, wet or dry, calm or stormy, clear or cloudy. On Earth, most weather phenomena occur in the lowest layer of the planet's atmosphere, the troposphere, just below the stratosphere. Weather refers to day-to-day temperature, precipitation, and other atmospheric conditions, whereas climate is the term for the averaging of atmospheric conditions over longer periods of time. When used without qualification, "weather" is generally understood to mean the weather of Earth.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    {{!-- Developer --}}
    <div class="container text-center mb-3">
        <h3 class="text-primary"><i class="fa-solid fa-person" style="margin-right: 10px;"></i>Developer Information</h3>
    </div>
    <div id="about_card">
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/dip.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Dip Kor Imon</h4>
                        <h5>Title</h5>
                    </div>
                    <div class="sci">
                        <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>   

            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/alamin.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Al-Amin</h4>
                        <h5>Title</h5>
                    </div>
                    <div class="sci">
                        <a href="#"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    
    
    <!-- Footer -->
    {{>footer}}
    
</body>
</html>