<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->
    
    <div id="about_card">
        <div class="container">
            {{!-- Current Weather Data --}}
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/currentWeatherData.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h5 class="text-primary text-center">Current Weather Data</h5>
                        <p style="font-size: 15px; line-height: 17px;">Access current weather data for any location including over 200,000 cities.</p>
                    </div>
                    <div class="">
                        <a href="currentWeatherData"><button type="button" class="btn btn-primary">Check Update</button></a>
                    </div>
                </div>
            </div>   

            {{!-- Hourly Forecast 4 days --}}
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/dailyForecast.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h5 class="text-primary text-center">Hourly Forecast 4 days</h5>
                        <p style="font-size: 15px; line-height: 17px;">Hourly forecast is available for 4 days. Forecast weather data for 96 timestamps.</p>
                    </div>
                    <div class="">
                        <a href="hourlyForecast"><button type="button" class="btn btn-primary">Check Update</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
    
    <script src="js/main.js"></script>

</body>
</html>
