<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->
    {{>background}}
    

    {{!--API info --}}

    <div class="content">
    <div class="main_content">
        <form action="">
            <input type="text" id="cityName" placeholder="Enter your city name">
            <input type="submit" value="search" id="submitBtn">
        </form>
    </div>

    <div class="tempInformation">
        <div class="top_layer">
            <p id="day">Tuesday</p>
            <p id="today_data">13 Oct</p>
        </div>
        <div class="main_layer">
            <p id="city_name">Get City</p>
            <div class="middle_layer data-hide">
                <p id="temp"><span>0</span><sup>0</sup>C</p>
                <p id="temp_status"><i class="fa-solid fa-cloud"></i></p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>