<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- Main header -->

    <div id="about_card">
        <div class="container">
            {{!-- current Weather Data --}}
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/currentWeatherData.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4 style="font-size: 23px;">Current Weather Data</h4>
                        <p class="text-muted" style="font-size: 17px;">Get the latest weather data for any region in the world.</p>
                    </div>
                    <a href="currentWeatherData"><button class="btn btn-warning">Check Here</button></a>
                </div>
            </div>   
            
            
             <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="images/AnotherExample.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <h4 style="font-size: 23px;">Another Example Data</h4>
                        <p class="text-muted" style="font-size: 17px;">Get the latest weather data for any region in the world.</p>
                    </div>
                    <a href="#"><button class="btn btn-warning">Check Here</button></a>
                </div>
            </div> 
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
    
</body>
</html>