<div class="footer">
    <div class="container">
        <p>&copy; 2022 Copyright: <strong class="text-warning">RapidWeather</strong> | Made with &#x2764; by <strong class="text-warning">Dip Kor Imon</strong></p>
    </div>
</div>