@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Ubuntu:wght@300;400;700&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

span {
    font-family: "Sofia", sans-serif;
    font-size: 25px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    background: rgb(17, 17, 17);
    border-top: 13px solid rgb(17, 17, 17);
    text-align: center;
}