// Background
$main-bg: #ffffff;
$soft-bg: #384256;
$dark-bg: #222b3c;

// Text
$main-color: rgb(0, 0, 0);
$soft-color: #c4c1c1;
$dark-color: #2a3447;

// Base
$base-color: rgb(255, 196, 0);
$base-hover: rgb(184, 148, 29);